.field {
  text-align: center;
  height: 60px;
  font-size: 20pt;

  &:after {
    content: ".";
    visibility: hidden;
  }
}

#input {
  background-color: lightyellow;
}

#output {
  background-color: white;
}
